*{
	padding:0px;
	margin:0px;
}
body{
	font-family:Tahoma;
	font-size:12px;
	/*background:url(../images/bg_body.jpg);*/
	/*background-color: #91c7ca;*/
background: rgb(59,103,158); /* Old browsers */
background: -moz-linear-gradient(top, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 32%, rgba(32,124,202,1) 66%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(32%,rgba(43,136,217,1)), color-stop(66%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 32%,rgba(32,124,202,1) 66%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 32%,rgba(32,124,202,1) 66%,rgba(125,185,232,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 32%,rgba(32,124,202,1) 66%,rgba(125,185,232,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 32%,rgba(32,124,202,1) 66%,rgba(125,185,232,1) 100%); /* W3C */
}

center{
	margin:0 auto;
	width:999px;
}
.clear{
	clear:both;
}

img, p, ul{
	border:0px;
	text-align: left;
}
li{
	list-style:none;
}
a{
	color:#0309ff;
	text-decoration:none;
	outline: none;
}
select{
	outline:none;
}
table{
	border-collapse:collapse;
	text-align: left;
	font-weight: bold;
}

/*---------- Một số chuẩn khi cắt css và tránh lỗi IE6-------------
- Khi thêm thuộc tính margin cho thẻ phải thêm thuộc tính display:inline (trừ những thẻ không có chiều cao, rộng cố định thì không cần thiết)
- Khi thêm padding chiều nào của một thẻ phải giảm độ rộng, cao tương ứng nếu thẻ có chiều rộng hoặc cao cố định.
- Tất cả các link phải có hover
- Những button như Hủy,Gửi đặt trong thẻ input phải có thuộc tính cursor:pointer . 
- Những Title chỉ có một dòng thì tránh dùng padding-left khi muốn cách đầu dòng_ nên dùng text-indent:px và nên sét chiều rộng và thuộc tính overflow:hidden.
- Nếu thẻ <img/> đặt trong một thẻ khác mà hình ảnh quá nhỏ thì phải có thuộc tính font-size:1px trong thẻ chứa <img/>

* ---------------------------Qui tắc đặt tên--------------*/
